*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
  font-family: poppins;

  scroll-behavior: smooth;


  
}

.firstpage{

 width:100%;
 height: 100vh;
 

}

.background{
  background-image: url(./Assets/Photos/futuristic-bg.png);


  width:100%;
  height:100vh;

  filter:brightness(40%);

}


.nav{
  height:20vh;
  width:100%;
  display:flex;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  z-index: 
  1;


}

.nav img{
  width:15%;
  height:50%;
  
  



}

.firstpage ul{
 display:flex;



}

.firstpage ul li{

color:white;
margin-right:30px;
list-style-type: none;



}

.firstpage ul li:nth-child(n):hover{

 color:rgb(185, 80, 80);

}


.btn-signin{
  padding: 15px 30px;
  background:none;
  color:rgb(252, 234, 234);
  
  border: 1px solid transparent;
  
}

.btn-signin:hover{

  border: 1px solid white;
  
  
}
.btn-signout{
 
 background-color:#f4694c ;
 padding:15px 30px;
 color: white;
 


}

.btn-signout:hover{
 
 background-color:#eb482b ;
 
 


}

.hero-section{
 display: flex;
  width: 100%;
  height: 80vh;
  position: absolute;
  top:20vh;

  z-index: 1;


}

.left-hero {
  width: 60%;

}

.left-hero h1{
  color:white;
  font-size:3em;
  position: relative;
  top:10%;
  left:9%;
  width:80%;

}

.left-hero p{
  color:rgb(180, 164, 164);
  position: relative;
  top:15%;
  width:80%;

  left:9%;

}


.left-hero span{
  position: relative;
  top:25%;
  

  left:9%;



}


.Get-started{
  padding:15px 40px;
  color:white;
  background-color:#f4694c;
  
  
}

.Get-started:hover{
  background-color: #da563c;

}


.Learn-more{
  padding:15px 40px;
  border:1px solid white;
  color:white;
  background: none;


}

.Learn-more:hover{
 color:black;
 background-color:white;
 

}


.right-hero img{
 
 height: 30%;
position: relative;
top:20%;
left:60%;

}

.right-hero img:hover{
 transform: scale(1.3);
 transition: all 0.3s ease-in-out;
 filter: brightness(150%);
 filter: drop-shadow(10px 10px 40px #ffffff);
 

}

.dash{
 margin-left:-210px;
 margin-top:20px;
 height: 2px;

}


.next{
 width:25%; 
 margin-left:120px;
 
}

.right-hero div h3{
 color:white;
 font-size:25px;
 font-weight: 200;


}

.right-hero div{
 position: relative;
 top:25%;
 left:50%;

}


.second-page{
 width:100%;
 height: 100vh;
 background: rgb(2,0,36);
background: linear-gradient(318deg, rgba(2,0,36,1) 0%, rgba(130,26,26,1) 0%, rgba(33,201,191,1) 0%, rgb(36, 36, 36) 0%, rgba(161,75,66,1) 0%, rgba(144,51,42,1) 0%, rgba(24,24,24,1) 0%, rgba(236,105,105,1) 0%, rgba(203,120,119,1) 0%, rgb(32, 29, 31) 0%, rgb(24, 23, 23) 100%, rgb(22, 22, 22) 100%, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%, rgb(17, 16, 16) 100%, rgb(14, 17, 17) 100%, rgba(20,7,7,1) 100%, rgb(5, 5, 5) 100%, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%);



}


.second-page h1{
   font-size:3em;
   text-align: center;
   padding:20px 0px;
   animation:blinking 2s infinite;
   color:#ffffff;


}

.card-row{
  display: flex;
  justify-content: space-evenly;


}


.card1{

   width:250px;
   height: 350px;
   background-image: url(./Assets/Photos/image\ 1.png);
   background-position: 70%;
   background-repeat: no-repeat;
   background-size: cover; 
}

.card2{

   width:250px;
   height: 350px;
   background-image: url(./Assets/Photos/image\ 2.png);
   background-position: 50%;
   background-repeat: no-repeat;
   background-size: cover; 
}

.card3{

   width:250px;
   height: 350px;
   background-image: url(./Assets/Photos/image\ 3.png);
   background-position: 50%;
   background-repeat: no-repeat;
   background-size: cover; 
}

.card4{

   width:250px;
   height: 350px;
   background-image: url(./Assets/Photos/image\ 4.png);
   background-position: 50%;
   background-repeat: no-repeat;
   background-size: cover; 
}


.card1:hover{

  transform: scale(1.2); 
  transition: all 0.4s ease-in-out; 
}
.card2:hover{

  transform: scale(1.2); 
  transition: all 0.4s ease-in-out; 
}
.card3:hover{

  transform: scale(1.2); 
  transition: all 0.4s ease-in-out; 
}
.card4:hover{

  transform: scale(1.2); 
  transition: all 0.4s ease-in-out; 
}

.card-content{

  width: 100%;
  height: 25%;
  backdrop-filter: blur(10px);
  position: relative;
  top:75%;
  display: flex;
  padding-left: 10px;


}


.card-left{
 width: 60%;


}
.card-left p:nth-child(1){
 color:white;

}
.card-left p:nth-child(2){
 color:rgb(179, 157, 157);

}
.card-right{
  width: 40%;

}

.card-right button{

padding:5px 10px;
color: white;
background-color:#f4694c;
margin-top: 30px;
margin-left:5px;
}


.third-page{
 width:100%;
 height:100vh;
 background: rgb(2,0,36);
 background: linear-gradient(263deg, rgba(2,0,36,1) 0%, rgba(130,26,26,1) 0%, rgba(33,201,191,1) 0%, rgba(244,105,76,1) 0%, rgba(161,75,66,1) 0%, rgba(144,51,42,1) 0%, rgba(24,24,24,1) 0%, rgba(236,105,105,1) 0%, rgba(203,120,119,1) 0%, rgba(111,56,88,1) 0%, rgba(254,255,248,1) 77%, rgba(62,62,62,1) 100%, rgba(32,201,192,1) 100%, rgba(20,7,7,1) 100%, rgba(0,0,0,1) 100%, rgba(168,140,118,1) 100%, rgba(191,105,144,1) 100%, rgba(198,101,131,1) 100%, rgba(191,129,105,0.8239670868347339) 100%);
 display:flex;



}

.third-left{
width:50%;



}

.third-left img{
width:70%;
height:60%;
position: relative;
top:20%;
left:15%;
}

.third-left img:hover{
  transform:scale(1.2);
  transform: all 2s ease-in-out; 
  box-shadow: 20px 20px 20px rgb(97, 84, 84);
}


.third-right{
 width:50%;




}

.third-right h1{

  position: relative;
  top:20%;
  left:10%;
  width:80%;
  font-size:2em;
  font-weight:600;
  color:rgb(0, 0, 0);

}


@keyframes blinking{
  
  47%{   color: rgb(252, 252, 252); }
  67%{   color:#fffb20}
  87%{   color:#f4694c}

  

  }

  
.third-right p{
  font-size: 20px;
  position: relative;
  top:28%;
  left:10%;
  width:90%;
  color:rgb(44, 44, 44);

}


.third-right span{
  position: relative;
  top:35%;
  left:10%;
  width:90%;

}

.explorenow{
  
color:white;
padding:15px 40px;
background-color: #f4694c;
border:none;


}

.learnmore{
 color:#f4694c;
 background-color: #ffffff;
 border: 1px solid #f4694c;
 padding:15px 40px;
 
}

.learnmore:hover{
color:aliceblue;
background-color: #f4694c;

}

.explorenow:hover{
 color:#f4694c;
 background-color: #ffffff;
}



.fourth-page{
 width:100%;
 
 background: rgb(2,0,36);
background: linear-gradient(318deg, rgba(2,0,36,1) 0%, rgba(130,26,26,1) 0%, rgba(33,201,191,1) 0%, rgba(244,105,76,1) 0%, rgba(161,75,66,1) 0%, rgba(144,51,42,1) 0%, rgba(24,24,24,1) 0%, rgba(236,105,105,1) 0%, rgba(203,120,119,1) 0%, rgba(111,56,88,1) 0%, rgba(24,13,17,1) 100%, rgba(191,129,105,1) 100%, rgba(198,101,131,1) 100%, rgba(254,255,248,1) 100%, rgba(62,62,62,1) 100%, rgba(32,201,192,1) 100%, rgba(20,7,7,1) 100%, rgba(0,0,0,1) 100%, rgba(168,140,118,1) 100%, rgba(191,105,144,1) 100%);
}

.top{
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.lr{

  width:50px;
  height:50px;
  background-color: #f8d7d0;
  border: none;
}

.Rr{
  width:50px;
  height:50px;
  background-color: #f4694c;
  border: none;
}
.Rr img{
  width: 70%;
  

}

.top h1{
 font-weight:800;
 margin-left: 140px;
 color: #ffffff;

}

.top span{

  margin-right: 100px;

}

.fourth-hero{

 width:100%;
 height:80vh;
 display: grid;
 grid-template-columns: 50% 50%;
 justify-items:center;

}


.newcard1{
  width:450px;
  height: 250px;
  
  display: flex;



}
.newcard2{
  width:450px;
  height: 250px;
  
  display: flex;



}
.newcard3{
  width:450px;
  height: 250px;
  
  display: flex;



}
.newcard4{
  width:450px;
  height: 250px;
  
  display: flex;



}

.newhover:hover{
  box-shadow: 5px 5px 30px white;


} 

.left-game{
  width:40%;
  height: 100%;
  background-image: url(./Assets/Photos/Rectangle\ 75.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;

}

.right-game{
  width:60%;
  background-color: rgb(0, 0, 0);

}

.left-game2{
  width:40%;
  height: 100%;
  background-image: url(./Assets/Photos/Rectangle\ 76.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;

}

.right-game2{
  width:60%;
  background-color: rgb(0, 0, 0);

}

.left-game3{
  width:40%;
  height: 100%;
  background-image: url(./Assets/Photos/Rectangle\ 77.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;

}

.right-game3{
  width:60%;
  background-color: rgb(0, 0, 0);

}
.left-game4{
  width:40%;
  height: 100%;
  background-image: url(./Assets/Photos/Rectangle\ 78.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;

}

.right-game4{
  width:60%;
  background-color: rgb(0, 0, 0);

}

.title{
 color: white;
 padding: 10px 0px 0px 25px;
 font-size:20px

}

.type{
  color:#f4694c;
  font-size:20px;
  padding: 5px 0px 0px 25px;
}

.discript{
  color: rgb(165, 165, 165);
  padding: 10px 0px 0px 25px;
}

.dload{
  margin:0px 0px 0px 25px;
  padding: 10px 25px;
  background-color:#f4694c;
  color:white;

}


.dload:nth-child(n):hover{
 color:rgb(5, 5, 5);
 background-color: aliceblue;
 

}


.fifth-page{

 width:100%;
 background-color: black;


}

.fifth-top h1{

  color:white;
  text-align:center;
  padding:20px;
  height:20vh;
  width: 100%;

}

.fifth-hero{

 width:100%;
 height:80vh;
 display:flex;


}

.fifth-left{
 width:40%;
 height: 100%;

}

.fifth-left img{
  width:70%;
  margin-left: 50px;
 

}

.fifth-right{
 width:60%;
 height: 100%;
}

.fifth-right p{
  color:rgb(119, 116, 116);
  font-size: 16px;
  margin:30px 60px 30px 40px;
 }
 .fifth-right h1{
  position:absolute;
  margin-left: 25%;;
  z-index: 2;
  color:white;
  font-family: 'Poppins', sans-serif;
  animation: animate 1.5s linear infinite; 

 }
 @keyframes animate{ 
  0%{ 
    opacity: 0.4; 
  } 
  50%{ 
    opacity: 1.5; 
  } 
  100%{ 
    opacity: 0.5; 
  } 
} 


 .dancer{
  width:35%;
  height: 70%;

 }

 .dancer-friend{
 width:40%;
 height: 50%;
 margin-left: 40px;

 }


 .sixth-page{
 
 width:100%;
 height:100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgb(0, 0, 0);

 }

 .sixth-discript{
  position: absolute;
  z-index: 2;
 }
 .sixth-discript h1{
 
  font-size:3em;
  text-align: center;

  color:white;
 }

 .sixth-discript p{
 color:rgb(161, 158, 158);
 font-size: 22px;
 margin-top: 5%;
 
 text-align: center;

 }

 .sixth-discript button{
  padding: 20px 40px;
  font-size: 18px;
  color:white;
  background-color:#f4694c;
  margin-left: 30%;
  margin-top: 5%;

 }
 .sixth-discript button:hover{
  color:black;
  background-color:white;

 }

 .sixth-hero{

  background-image: url(./Assets/Photos/Rectangle\ 606.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 70%;
  filter: brightness(30%);
  position: absolute;
  z-index: 1;

 }


 footer{
 width:100%;
 height:50vh;
 display: flex;
 background-color: black;


 }

 .logo-part{
  width:25%;


 }

 .other-info{
  width:75%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

 }

 .other-info span ul li:nth-child(n){
 color:rgb(170, 170, 170);
 padding: 10px;
 list-style-type: none;

 }
 .other-info span ul li:nth-child(1){
 color:rgb(255, 255, 255);
 padding: 10px;
 list-style-type: none;

 }

 .logo-inner{
  width: 80%;
  margin-top:20%;


 }

 .logo-inner p{
  color:rgb(170, 170, 170);
 padding: 20px;

 }

 .logo-inner img{
  padding-left: 20px;

 }