*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
  font-family: poppins;
  outline: 1px solid rgb(90, 88, 88);
  


  
}

.firstpage{

 width:100%;
 height: 100vh;
 

}

.background{
  background-image: url(./Assets/Photos/futuristic-bg.png);


  width:100%;
  height:100vh;

  filter:brightness(40%);

}


.nav{
  height:20vh;
  width:100%;
  display:flex;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  z-index: 
  1;


}

.nav img{
  width:15%;
  height:50%;
  
  



}

.firstpage ul{
 display:flex;



}

.firstpage ul li{

color:white;
margin-right:30px;
list-style-type: none;



}

.firstpage ul li:nth-child(n):hover{

 color:rgb(185, 80, 80);

}


.btn-signin{
  padding: 15px 30px;
  background:none;
  color:rgb(252, 234, 234);
  
  border: 1px solid transparent;
  
}

.btn-signin:hover{

  border: 1px solid white;
  
  
}
.btn-signout{
 
 background-color:#f4694c ;
 padding:15px 30px;
 color: white;
 


}

.btn-signout:hover{
 
 background-color:#eb482b ;
 
 


}

.hero-section{
 display: flex;
  width: 100%;
  height: 80vh;
  position: absolute;
  top:20vh;

  z-index: 1;


}

.left-hero {
  width: 60%;

}

.left-hero h1{
  color:white;
  font-size:3em;
  position: relative;
  top:10%;
  left:9%;
  width:80%;

}

.left-hero p{
  color:rgb(180, 164, 164);
  position: relative;
  top:15%;
  width:80%;

  left:9%;

}


.left-hero span{
  position: relative;
  top:25%;
  

  left:9%;



}


.Get-started{
  padding:15px 40px;
  color:white;
  background-color:#f4694c;
  
  
}

.Get-started:hover{
  background-color: #da563c;

}


.Learn-more{
  padding:15px 40px;
  border:1px solid white;
  color:white;
  background: none;


}

.Learn-more:hover{
 color:black;
 background-color:white;
 

}


.right-hero img{
 
 height: 30%;
position: relative;
top:20%;
left:60%;

}

.right-hero img:hover{
 transform: scale(1.3);
 transition: all 0.3s ease-in-out;

}

.dash{
 margin-left:-210px;
 margin-top:20px;
 height: 2px;

}


.next{
 width:25%; 
 margin-left:120px;
 
}

.right-hero div h3{
 color:white;
 font-size:25px;
 font-weight: 200;


}

.right-hero div{
 position: relative;
 top:25%;
 left:50%;

}


.second-page{
 width:100%;
 height: 100vh;
}


.second-page h1{
   font-size:3em;
   text-align: center;
   padding:20px 0px;



}

.card-row{
  display: flex;
  justify-content: space-evenly;


}


.card1{

   width:250px;
   height: 350px;
   background-image: url(./Assets/Photos/image\ 1.png);
   background-position: 70%;
   background-repeat: no-repeat;
   background-size: cover; 
}

.card2{

   width:250px;
   height: 350px;
   background-image: url(./Assets/Photos/image\ 2.png);
   background-position: 50%;
   background-repeat: no-repeat;
   background-size: cover; 
}

.card3{

   width:250px;
   height: 350px;
   background-image: url(./Assets/Photos/image\ 3.png);
   background-position: 50%;
   background-repeat: no-repeat;
   background-size: cover; 
}

.card4{

   width:250px;
   height: 350px;
   background-image: url(./Assets/Photos/image\ 4.png);
   background-position: 50%;
   background-repeat: no-repeat;
   background-size: cover; 
}


.card1:hover{

  transform: scale(1.2); 
  transition: all 0.4s ease-in-out; 
}
.card2:hover{

  transform: scale(1.2); 
  transition: all 0.4s ease-in-out; 
}
.card3:hover{

  transform: scale(1.2); 
  transition: all 0.4s ease-in-out; 
}
.card4:hover{

  transform: scale(1.2); 
  transition: all 0.4s ease-in-out; 
}

.card-content{

  width: 100%;
  height: 25%;
  backdrop-filter: blur(10px);
  position: relative;
  top:75%;
  display: flex;
  padding-left: 10px;


}

.card-left{
 width: 60%;


}
.card-left p:nth-child(1){
 color:white;

}
.card-left p:nth-child(2){
 color:rgb(179, 157, 157);

}
.card-right{
  width: 40%;

}

.card-right button{

padding:5px 10px;
color: white;
background-color:#f4694c;
margin-top: 30px;
margin-left:5px;
}