*{
    margin-top: 0px;
    margin-left: 0px;
    box-sizing: border-box;
    

    
    
}

.firstpage{
   background-image: url(./Assets/Photos/futuristic-bg.png) ;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 100vh;
   
}

.nav{
    height:20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

.navtab {
  display: flex;

  


}

.navtab li{
    
    color:rgb(255, 255, 255);
    margin-right: 30px;
    font-size:20px;
    list-style: none;


}
.navtab li:nth-child(1):hover{
    
    color:rgb(243, 190, 190);
    margin-right: 30px;



}
.navtab li:nth-child(2):hover{
    
    color:rgb(243, 190, 190);
    margin-right: 30px;



}
.navtab li:nth-child(3):hover{
    
    color:rgb(243, 190, 190);
    margin-right: 30px;



}
.navtab li:nth-child(4):hover{
    
    color:rgb(243, 190, 190);
    margin-right: 30px;



}


.signin{

  padding: 15px 30px;
  background:none;
  color:rgb(252, 234, 234);
  

  

}
.signin:hover{
  
  padding: 15px 30px;
  border: 1px solid white;

  color:rgb(252, 234, 234);
  margin: 1px;


  

}

.signout{
  margin:0px;
  padding: 15px 30px;
  color:rgb(252, 234, 234);
  background-color:#f4694c;
  


}

.signout:hover{
    margin:0px;
    padding: 15px 30px;
    color:rgb(252, 234, 234);
    background-color:#bd3116;
    
    
  
  
  }

  .herosection{
    height:80vh;
    width: 100%;
    display: flex;


  }

  .hero-left{
   width:50%;

  }



  .mainhead{
   color:white;
   font-size: 55px;
   position: relative;
   top:10%;
   left:10%;
   width:80%;



  }

  .mainphara{
    color:rgb(201, 201, 201);
    font-size: 18px;
    position: relative;
    top:10%;
    left:10%;
    width:80%;


 
 

  }
  .btn{
    position: relative;
    top:10%;
    left:10%;
    width:80%;

    

  }

  .get-started{

    color:white;
    background-color:#f4694c;
    padding:20px 40px;
    margin:2px;
    margin-top: 30px;


  }
  .get-started:hover{

    color:white;
    background-color:#bd3116;
    padding:20px 40px;
    margin:2px;
    margin-top: 30px;


  }

  .learn-more{
    color:white;
    padding:20px 40px;
    background: none;
    border:1px solid white;
    margin:2px;
    margin-top: 30px;
    

  }

  .learn-more:hover{
    color:rgb(0, 0, 0);
    padding:20px 40px;
    background-color: rgb(250, 250, 255);
    margin-top: 30px;
    
    

  }


  .hero-right{
    width:50%;

  }




 .playbutton{
      position: relative;
      top:20%;
      left:30%;
      display: inline;
 }

 .playbutton:hover {
      position: relative;
      top:20%;
      left:30%;
      display: inline;
      transform: scale(1.5);
      transition: all 0.5s ease;
      filter: drop-shadow(20px 16px 10px rgb(168, 156, 156));
 }


 .title1{
    
    position: relative;
    top:45%;
    left:45%;

 }

 .title1 span:nth-child(1){
    position: relative;
    left:-30%;
    top:1%;
    
 }

 .title1 span:nth-child(2){ 
    font-size: 30px;
    color:white;
 }
 .title1 span:nth-child(3){
    position: relative;
    left:27%;

 }

 .second-page{
   width:100%;
   height:100vh;
   background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(130,26,26,1) 0%, rgba(33,201,191,1) 0%, rgba(244,105,76,1) 0%, rgba(231,82,66,1) 0%, rgba(20,7,7,1) 100%, rgba(0,0,0,1) 100%, rgba(168,140,118,1) 100%, rgba(191,105,144,1) 100%, rgba(198,101,131,1) 100%, rgba(191,129,105,0.8239670868347339) 100%, rgba(32,201,192,1) 100%, rgba(203,120,119,1) 100%, rgba(236,105,105,1) 100%, rgba(0,212,255,1) 100%);
 }

 .secondheading{
      text-align:center; 
      font-size: 55px;
      padding:40px 0px;

 
 }


 .secondhero {
    display: flex;
    gap:30px
    
 } 

 .secondhero span{

    width:250px;
    height: 300px;
    
    position: relative;
    left:150px; 
    
 }

 .img11{
  background-image: url(./Assets/Photos/image\ 1.png);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;



 }


 
 .img12{
  background-image: url(./Assets/Photos/image\ 2.png);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;



 }


 
 .img13{
  background-image: url(./Assets/Photos/image\ 3.png);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;



 }

 
 .img14{
  background-image: url(./Assets/Photos/image\ 4.png);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;



 }



 .img11 div{
  position: relative;
  top:80%;
  width:100%;
  height:10vh;
  backdrop-filter: blur(20px);
 }


 .img111:hover{

  position: relative;
  z-index: 2;
  background-position:right;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.5);
  transition: all 0.5s ease;
  filter: drop-shadow(20px 16px 10px rgb(110, 97, 97));
 
 }